<h1>UsuarioMailer#notificar_usuario</h1>

<p>
  <%= @usuario.email %>, los siguientes dominios están por vencer:
  <ul>
	  <% @dominios_a_vencer.each do |dominio| %>
	  	<li><%= dominio.nombre %></li>
	  <% end %>
	</ul>
</p>
